/* Style umum */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    background-color: #FF91AF;
    padding: 10px 20px;
}

.header .nav {
    text-align: center;
}

.header .nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Animasi transisi */
}

/* Hover effect */
.header .nav a:hover {
    background-color: #F8C8DC;
}

/* Active effect */
.header .nav a:active {
    background-color: #FF69B4;
    color: white;
}

/* Main content */
.main {
    padding: 20px;
    background-color: #F8C8DC;
}

.content-container {
    display: flex;
    gap: 20px;
}

.side-nav {
    flex-basis: 60%; /* Mengatur lebar side-nav (konten artikel) lebih kecil */
}

.aside {
    flex-basis: 40%; /* Mengatur lebar aside lebih besar */
}

/* Style untuk artikel dan aside */
.side-nav .article, .aside {
    background-color: #f3dddf;
    padding: 15px;
    border-radius: 5px;
}

/* Footer */
.footer {
    background-color: #FF91AF;
    padding: 10px 20px;
    text-align: center;
}
